.copyable-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 5px;
    background-color: #F4F4F4 !important;
    vertical-align: middle !important;
}

.text {
    font-weight: bold;
    padding: 10px;
    flex-grow: 1;
    background-color: #F4F4F4;
    border-radius: 5px 0 0 5px;
    color: #626262;
    border-right: white solid 2px;
}

.copy-btn {
    float:right !important;
    background-color: #007bff !important;
    color: #ffffff !important;
    flex: 1 !important;
    max-width: 75px !important;
    border-radius: 0 5px 5px 0 !important;
    padding: 10px;
    vertical-align: middle !important;
    margin: auto;
}